<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta - Klimarios</title>
    <link rel="stylesheet" href="./styles/styleOption.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="form-structor">
        <form action="/configuracion" method="post" id="formReg">
            <div class="signup">
                <h2 class="form-title" id="signup">Configuracion</h2>
                <div class="form-holder">

                    <input type="text" class="input" placeholder="idAr" name="id Arduino" id="input" />
                    <input type="text" name="ubicacion" id="input" class="input" placeholder="ubicacion">
                </div>
                <button class="submit-btn" type="submit">Configura</button>
            </div>
        </form>


    </div>
    <!-- partial -->
    <script src="./jss/script.js"></script>

</body>

</html>